
.dropDown {
  background-color: #F3F1EE;
  max-height: 300px;
  width: 300px;
  position: absolute;
  overflow: scroll;
  z-index: 3;
  border-radius: 2%;
}

.dropDownListItem {
  justify-content: flex;
  padding: 10;
  font-size: 12;
}