.rowContainer {
  display: flex;
  flex-direction: row;
}

.colContainer {
  display: flex;
  flex-direction: column;
}

.centerContent {  
  justify-content: center;
  align-items: center;
}

.paddingTopSmall { padding-top: 10px; }
.paddingLeftSmall { padding-left: 10px; }
.paddingLeftMed { padding-left: 14px; }

.header {
  font-weight: 800;
}

.description {
  font-style: italic;
  font-size: 12px;
}

.titleSmall {
  font-weight: 800;
  font-size: 14px;
}

.titleLarge {
  font-weight: bold;
  font-size: 16px;
}

.textSmall {
  font-size: 14px;
}


/* 
  white: F7F8FB
  dark blue: 313956
  grey: B9BEC6
  dark grey: 4B536E
  brown: 989072
  purple: 5458BB
  170, 174, 200
*/