/* Colors */

.bgWhite { background-color: 'white'; }
.test { background-color: 'red'; }

.width30 { width: 30px; }

/* Position */

.absolute { position: 'absolute'; }
.scroll { overflow: 'scroll'; }
.zIndex3 { z-index: 3; }

/* Container styles */

.borderRadius5 { border-radius: 5; }

/* Heights & Widths */

.height40 { height: 40px; }
.maxHeight300 { max-height: 300; }

.width300 { width: 300px; }